.goods-upload-container {
  padding: 32px;
  .goods-upload-box {
    .el-card {
      .el-card__body {
        padding: 25px 0 0 0;
        .el-form {
          .shop-message {
            padding-left: 9%;
            margin-bottom: 20px;
          }
          .el-form-item {
            padding:0 20% 0 5%;
            margin-bottom: 30px;
            &:last-child {
              .el-button {
                float: right;
                margin-left:20px;
              }
            }
          }
        }
        .split-line {
          border-bottom: 1px dashed #97A8BE;
          width: 80%;
          float: left;
          margin-left: 10%;
          margin-bottom: 25px;
        }
        .level-box {
          .el-tag {
            margin-left: 10%;
            margin-bottom: 15px;
          }
        }
      }
      &.user-box {
        padding-left: 7%;
        .el-form {
          .el-form-item {
            > label {
              color: $blue;
            }
          }
        }
      }
    }
    .property-dialog {
      .el-row {
        .el-col {
          line-height: 40px;
          margin-bottom: 10px;
          input {
            width: 100%;
            height:35px;
          }
        }
      }
    }
    .property-button {
      float:left;
      width:20px;
      height:20px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      background-color: $blue;
      color: $white;
      margin-top: 9px;
      font-weight:bold;
      &:hover {
        cursor: pointer;
      }
    }
    .add-properties {
      background-color: $blue;
      margin-left: 10px;
    }
    .decede-properties {
      background-color: orange;
      margin-left: 10px;
    }
    .decede-standard {
      position: absolute;
      top: 0;
      right: -12%;
    }
    .add-standard {
      position: absolute;
      top: 0;
      right: -22%;
    }
  }
  .modify-box {
    .el-dialog {
      width: 40%;
      .el-dialog__body {
        padding-bottom: 0;
        .el-form {
          padding: 0 15% 0 5%;
        }
      }
    }
  }
}
