.member-management-container {
    padding: 32px;
    .el-date-editor {
      margin-left: 1%;
    }
    .el-col.member-select {
      margin-left: 1%;
    }
    .el-button {
      margin-left: 1%;
    }
    .el-row.order-statics {
      margin-top: 30px;
    }
    .member-detail {
      .el-dialog {
        width: 40%;
        img {
            width: 100%;
        }
        .el-col-14 {
            .el-col {
                margin-bottom: 15px;
            }
        }
      }
    }
    .member-editor {
        .el-dialog {
            width: 40%;
            .el-dialog__body {
                padding-top: 10px;
                padding-bottom: 10px;
                .el-form {
                    width: 70%;
                }
            }
        }
    }

    /*上传会员头像的文件选择框*/
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
      }
      .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
      }
      .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
      }
      .avatar {
        width: 100px;
        height: 100px;
        display: block;
      }
  }