.order-acception-container {
  padding: 32px;
  .box-card {
    .el-form {
      .el-form-item {
        .el-radio-group {
          margin-left: 2%;
        }
      }
    }
  }
  .order-box {
    margin-top: 20px;
    .box-card {
      .card-line {
        border-bottom: 1px solid $lightGray;
        margin-bottom: 15px;
      }
      .el-card__header {
        padding-bottom: 5px;
        .card-header {
          .el-col-20 {
            &:not(:last-child) {
              margin-bottom: 12px;
            }
            label {
              color: orange;
            }
            span {
              margin-left: 10px;
              color: $gray;
            }
          }
          > span {
            float: right;
            padding: 0;
            color: $gray;
          }
        }
      }
      .el-card__body {
        padding: 0;
        .card-content {
          h3 {
            margin-bottom: 10px;
          }
          .el-button {
            float: right;
            margin-right: 5px;
          }
          .el-col {
            margin-bottom: 10px;
            label {
              color: orange;
            }
            span {
              margin-left: 10px;
              color: $gray;
            }
          }
          &.comments-box {
            padding-left: 7%;
            label {
              color: $black;
            }
            .order-detail {
              float: right;
              margin-top: -50px;
              color: $blue;
            }
            .seller-box {
              label {
                float: left;
              }
              .el-rate {
                float: left;
              }
              .el-col {
                float: left;
                margin-left: 18px;
                .el-button {
                  float: left;
                  margin-top: -10px;
                  span {
                    color: $blue;
                  }
                  &:last-child {
                    span {
                      color: $gray;
                    }
                  }
                }
              }
            }
          }
        }
        .el-table__expanded-cell {
          label {
            color: $blue;
          }
          .el-table {
            background-color: rgba(255, 255, 255, 0);
            tr {
              background-color: rgba(255, 255, 255, 0);
            }
          }
          .el-form-item {
            .el-button {
              float: right;
              margin-left: 10px;
            }
            &:not(:first-child) {
              span {
                float: right;
                margin-right: 21%;
              }
              .el-button span {
                float: none;
                margin: 0;
              }
            }

          }
        }
      }
    }
    .order-summary {
      .el-card {
        &:first-child {
          .card-content {
            .el-col {
              &:not(:last-child) {
                margin-bottom: 10px;
              }
              label {
                color: orange;
              }
              b {
                margin-left: 10px;
                margin-right: 5px;
              }
              span {
                color: $gray;
              }
            }
          }
        }
        &:nth-child(2) {
          margin-top: 20px;
          .el-col {
            &.el-col-12 {
              margin-bottom: 10px;
              b {
                color: red;
                margin-right: 5px;
              }
              a {
                float: right;
                color: $gray;
              }
            }
          }
        }
      }
    }
  }
}
