.system-setup {
    padding: 32px;
    .el-card {
        .el-card__body {
            // padding-right: 10px;
            .el-form {
                .el-form-item {
                    font-weight: bold;
                    margin: 0;
                    &:not(:nth-child(2)) {
                        margin-bottom: 8px;
                    }
                    &:nth-child(2) {
                        h1 {
                            text-align: center;
                        }
                        span {
                            display: block;
                            width: 100%;
                            text-align: center;
                            height: 25px;
                            line-height: 25px;
                            margin-bottom: -8px;
                        }
                    }
                    &:nth-child(3) {
                        p {
                            text-align: center;
                        }
                    }
                    &:nth-child(4) {
                        border: 3px dashed;
                        border-left: 0;
                        border-right: 0;
                        label {
                            display: block;
                            height: 25px;
                            line-height: 25px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    &:nth-child(6) {
                        border-bottom: 3px dashed;
                        .el-col {
                            border-top: 3.5px dashed;
                            position: relative;
                            margin-bottom: 8px;
                            span {
                                position: absolute;
                                top: -20px;
                                left: 45%;
                                height: 25px;
                                background: $white;
                            }
                        }
                        table {
                            text-align: center;
                            width: 100%;
                            font-size: 16px;
                        }
                    }
                    &:nth-child(7) {
                        border-bottom: 3px dashed;
                        label {
                            display: block;
                            font-size: 16px;
                        }
                    }
                    &:nth-child(8),&:nth-child(9) {
                        h1 {
                            &:first-child {
                                float:left;
                            }
                            &:nth-child(2) {
                                float: right;
                            }
                        }
                    }
                    &:last-child {
                        .el-button {
                            float:right;
                            font-weight: bold;
                        }
                    }
                }
            }
            // .el-col {
            //     &.print-button {
            //         .el-button {
            //             float: right;
            //             margin-bottom: 25px;
            //         }
            //     }
            // }
        }
    }
}